body {
  /* margin: 0; */
  font-family: 'poppins', sans-serif; 
  background-color: rgb(177, 188, 198);
  height: 2600px;
  padding: 5px;
}
header {
  background-color: blue;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 120px;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
}

a{
  text-decoration: none;
  color: #000000;
}

#site-name {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 20px 30px 20px 30px;
  margin-right: 40px;
}

#menu-content {
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 20px;
  color: black;
  font-weight: bold;
  background-color: white;
  padding: 20px;
  top: 0;

}

#container{
  margin-top: 150px;
  width: 400px;
  height: 400px;
  border-radius: 400px;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width: 536px) {
  #container{
    width: 300px;
    height: 300px;
  }
}

#image{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

#name{
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  color: #2303d8;
}

#about, #contact, #reach, #github{
  font-weight: 800;
  text-align: center;
  text-decoration: underline;
}

#reach{
  margin-top: 60px;
}

#div-1, #div-2, #div-3, #div-4{
  display: inline-block;
  height: 300px;
  width: 250px;
  border-radius: 10px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #0000ff;
  color: blue;
}

#about-section{
  margin-top: 70px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
}


@media(max-width: 1056px) {
  #about-section{
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
}

@media(max-width: 792px) {
  #about-section{
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}

@media(max-width: 536px) {
  #about-section{
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}

#contact-section{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  padding: 17px;
  gap: 10px;
}

@media(max-width: 1056px) {
  #contact-section{
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
}

@media(max-width: 792px) {
  #contact-section{
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}

@media(max-width: 536px) {
  #contact-section{
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}

#whatsapp-div{
  width: 250px;
  height: 200px;
  display: inline-block;
  background-color: #2303d8;
  border-radius: 8px;
}

#image-1, #image-2, #image-3, #image-4, #whatsapp-image, #facebook-image, #twitter-image, #instagram-image{
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

#image-div, #image-div-2, #image-div-3, #image-div-4, #whatsapp-image-div, #facebook-image-div, #twitter-image-div, #instagram-image-div{
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

#info-note, #info-note-2, #info-note-3, #info-note-4{
  text-align: center;
  font-weight: 700;
}

#info-note-baby, #info-note-baby-2, #info-note-baby-3, #info-note-baby-4{
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
}

#link-whatsapp, #link-facebook, #link-twitter, #link-instagram{
  text-align: center;
  margin-top: 40px;
  font-weight: 600;
}

#anchor, #anchor-2, #anchor-3, #anchor-4{
   color: #ffffff;
}

#github-section{
  background-color: #0000ff;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  margin-top: 40px;
}

#anchor-github{
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

#reach-section{
  background-color: #ffffff;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  gap: 30px;
  margin-top: 50px;
}

@media(max-width: 512px) {
  #form-div{
    width: 400px;
  }
}

@media(max-width: 400px) {
  #form-div{
    width: 350px;
  }
}

#form-div{
  width: 500px;
}

#form-project{
  background-color: blue;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

#email, #form-name, #project, #form-number{
  width: 350px;
  padding: 10px;
  border-radius: 8px;
  border-width: 1px;
  outline: none;
}

#project{
  height: 70px;
}

#tell{
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

#button{
  background-color: #ffffff;
  border: none;
  padding: 7px;
  width: 80px;
  border-radius: 7px;
  cursor: pointer;
}

footer{
  text-align: center;
  margin-top: 150px;
  color: #0000ff;
}

